---
layout: layout
sections:
  - interests
  - education
  - research_experience
  - online_courses
---

<%= partial(:top_navbar, :locals => { :academic_active => 'active'}) %>

<div class="container">

  <!-- sites nav
  ================================================== -->
  <div class="row">

    <%= partial "side_navbar" %>

    <div class="span9">
      <section id="interests">
        <div class="page-header">
          <h1><%= I18n.t("academic.side_menu.interests") %></h1>
        </div>  
        <p class="lead">I'm currently interested in Deep Learning, mainly ConvNets and RecurrentNets. I'm also interested in the combination of Deep Learning and Reinforcement Learning.</p>
      </section>

      <section id="education">
        <div class="page-header">
          <h1><%= I18n.t("academic.side_menu.education") %></h1>
        </div>
        <p class="lead">University of Sao Paulo</p>
        <ul>
          <li>Bachelor's Degree, Computer Engineering (2007 - 2012)</li>
        </ul>
      </section>

      <section id="research_experience">
        <div class="page-header">
          <h1><%= I18n.t("academic.side_menu.research_experience") %></h1>
        </div>
        <p class="lead">Graduation Project</p>
        <ul>
          <li>Developed an interactive software in Java to balance assembly lines.</li>
        </ul>
        <p class="lead">Undergraduate Research Scholarship</p>
        <ul>
          <li>Developed a distributed evolutionary clustering algorithm based on k-means.</li>
          <li>It was programmed in C and it used MPI for communication between the nodes.</li>
        </ul> 
      </section>

      <section id="online_courses">
        <div class="page-header">
          <h1><%= I18n.t("academic.side_menu.online_courses") %></h1>
        </div>
        <p class="lead">Online Courses I've taken.</p>
        <ul>
          <li>Computer Science<ul>
            <li>Artificial Intelligence<ul>
              <li>CS188.1x: Artificial Intelligence - Berkeley - edX</li>
              <li>Machine Learning - Stanford - Coursera</li>
            </ul></li>
            <li>Others<ul>
              <li>Algorithms: Design and Analysis, Part 1 - Stanford - Coursera</li>
              <li>Algorithms: Design and Analysis, Part 2 - Stanford - Coursera</li>        
              <li>Functional Programming Principles in Scala - EPFL - Coursera</li>
              <li>CS169.1x: Software as a Service - Berkeley - edX</li>
              <li>CS169.2x: Software as a Service - Berkeley - edX</li>
              <li>Cryptography I - Stanford - Coursera</li>
              <li>Introduction to Computer Science - Udacity (Although the concepts of computer science were pretty easy for me, this class was still helpful to learn the basics of python and search engines)</li>
            </ul></li>
          </ul></li>
          <li>Neuroscience<ul>
            <li>Computational Neuroscience - University of Washington - Coursera</li>
            <li>Synapses, Neurons and Brains - University of Jerusalem - Coursera</li>
          </ul></li>
          <li>Physics<ul>
            <li>C10: Physics for future Presidents, with Richard A. Muller - webcast.berkeley</li>
            <li>8.02: Electricity and Magnetism - MIT OpenCourseWare</li>
          </ul></li>
          <li>Mathematics<ul>
            <li>18.06: Linear Algebra - MIT OpenCourseWare</li>
          </ul></li>
          <li>Social Sciences and Humanities<ul>
            <li><a href="http://www.justiceharvard.org">Justice - Harvard</a></li>
            <li>Introduction To Psychology, with Paul Bloom - Open Yale Courses</li>
          </ul></li>
        </ul>
        
        <!--
        <p class="lead">Courses that I am currently taking.</p>
        <ul>
        </ul> 
        -->

        <p class="lead">To list only the online courses for which I have certification of completion, please, follow this <a href="curriculum#online-courses">link</a>.</p>
      </section>

    </div>
  
  </div>
</div>
